.cancel-button{
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: none;
    background-color: transparent;
    font-size: 2rem;
    width: min-content;
    margin: 0;
    height: 40px;
    border: none;
}