@import './../../design-system.scss';

.table {
    @include ds-table;
    width: 100%;
    text-align: center;
    font-family: Calibri, sans-serif !important;

    th {
        font-size: 12px;
        font-weight: bold;
    }

    td {
        font-size: 14px;
        padding: 5px;
    }
}

@media print {
    .blue-header {
        font-size: 17pt;
    }

    .table {
        th {
            font-size: 12pt;
        }

        td {
            font-size: 14pt;
        }
    }
}