@import './../../design-system.scss';

h1{
    text-align: center;
}

.table{
    @include ds-table;
    font-size: 0.8rem;

    td,th{
        padding: 0.5em;
    }
}

@media print{
    .hide-when-print{
        display: none;
    }
}