:host {
    .cards-list{
        float: left;
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        background-color: white;
        z-index: 2000;
        transition: 1s;
        padding: 15px;
        padding-top: 50px;
        box-sizing: border-box;


        &.show {
            left: 0;
        }

        .grid{
            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: 10px;
            row-gap: 10px;
            .item {
                text-align: center;
                margin: 0;

                &.selected {
                    background-color: #ccc;
                }
            }
        }        
    }
}