<div class="page-content"  *ngIf="weeks$ | async as months">
    <div class="month break-page" *ngFor="let month of months">

        <h1 class="blue-header">Programa para la reunión de fin de semana: <br>
            Discurso Público / Estudio de la Revista "La Atalaya" - {{ month.month | date: 'MMMM/yyyy' }}</h1>

        <ul class="weekend-meeting-list">
            <li class="weekend-meeting-day" *ngFor="let week of month.weeks" (click)="updatePublicTalk(week)">
                <p class="date bold">{{ week.date | dayOfWeek }}, {{week.date | date: "dd' de 'MMMM" }}</p>
                <div class="infos">
                    <p class="full bold">Tema: {{ (week.publicTalkTheme ? week.outlineNumber +". "+ week.publicTalkTheme
                        :
                        '') }}</p>
                    <p class="half"><span class="bold">Discursante:</span> {{ week.speaker }}</p>
                    <p class="half"><span class="bold">Congregación:</span> {{ week.speakerCongregation }}</p>
                    <p class="full"><span class="bold">Oración Inicial:</span> {{ week.president }}</p>
                    <p class="half"><span class="bold">Presidente:</span> {{ week.president }}</p>
                    <p class="half bold">Conductor: {{ week.watchtowerStudyConductor }}</p>
                    <p class="half"><span class="bold">Oracion Final:</span> {{ week.speaker }}</p>
                    <p class="half"><span class="bold">Lector:</span> {{ week.watchtowerStudyReader }}</p>
                </div>
            </li>
        </ul>
    </div>

    <div *ngIf="months.length === 0">
        <p>Carregando Meses...</p>
    </div>
</div>

<app-public-talk-form [formData]="formData" (finishEdition)="finishEdition($event)" />