.input-bar{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 20px;
    background-color: #ccc;
    margin-bottom: 10px;
    align-items: center;
    > * {
        margin: 0;
    }
}