<h2 class="center">Olvidé Mi contraseña</h2>

<form class="centralized-form" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!emailSent">
  <app-custom-input type="text"
         id="username"
         formControlName="username"
         placeholder="Digite seu usuario"
         [autocomplete]="'username'" />

  <input class="button" type="submit" value="Recibir email de recuperacion" [disabled]="!form.valid">
</form>

<div *ngIf="emailSent">
    <p>Verifique se recebeu o email de recuperação de senha e clique no link presente no mesmo!</p>
</div>