<table class="direction-list show-border" 
    [ngClass]="{'print-mode': printAsCard}"
    *ngIf="territoryCard$ | async as card">
    <tr *ngFor="let direction of card.directions; let i = index;"
      [ngClass]="{selected: directionToUpdate == direction}" (click)="selected.emit(direction)">
      <td [ngStyle]="{'background-color': direction.color}">
        {{i+1}}
      </td>
      <td>
        {{direction.streetName}}, {{direction.houseNumber}}{{direction.complementaryInfo ? ', '+direction.complementaryInfo: ''}}
      </td>
    </tr>
  </table>
