<h1>📋 {{isNewCard ? 'Crear' : 'Editar'}} Território</h1>
<form [formGroup]="territoryCardForm">
    <p>
        Localidad: <input class="inline" type="text" formControlName="neighborhood" />
        Tarjeta Nº {{card.cardId}}<br>
        Total de Direcciones: {{card.directions.length}}
    </p>

    <p class="edit-hint">
        Tu puedes clicar y segurar para cambiar el orden.
        <br />
        También puedes apagar una tareja, si la misma está sin ninguna dirección.
    </p>

    <app-close-button (click)="cancel()" />
    <button class="button save-button" (click)="save()" [disabled]="saving">salvar</button>

    <button *ngIf="!isNewCard" class="button delete-card-button" (click)="deleteCard()" [disabled]="!canDeleteCard">borrar tarjeta</button>

    <button class="button new-button" (click)="addNewDirecction()">➕ añadir dirección</button>
    <table class="show-border">
        <tr>
            <th>#</th>
            <th>Calle</th>
            <th>Numero</th>
            <th>complemento</th>
            <th></th>
        </tr>
        <tbody>
            @for (item of directionsControls.controls; let i = $index; track i) {
            <tr [ngClass]="{'changing-position': i == itemChangingPosition, 'dragging': i == draggingCard}"
                [formGroup]="item" (dragstart)="drag(i)" (drop)="drop(i)" (dragover)="dragover($event)"
                draggable="true">
                <td>{{i+1}}</td>
                <td ediateble><input type="text" formControlName="streetName"></td>
                <td ediateble><input type="text" formControlName="houseNumber"></td>
                <td ediateble><input type="text" formControlName="complementaryInfo"></td>
                <td class="actions">
                    <a class="remove" (click)="removeDirection(i)" title="borrar" aria-label="borrar">X</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>