<h1>📋 {{isNewCard ? 'Crear' : 'Editar'}} Território</h1>
<form [formGroup]="territoryCardForm">
    <p>
        Localidad: <input class="inline" type="text" formControlName="neighborhood" />
        Tarjeta Nº {{card?.cardId}}<br>
        Total de Direcciones: {{card?.directions?.length}}
    </p>

    <p class="edit-hint">
        Tu puedes clicar y segurar para cambiar el orden.
        <br />
        También puedes apagar una tareja, si la misma está sin ninguna dirección.
    </p>

    <app-close-button (click)="cancel()" />
    <button *ngIf="!movingDirectionsBetweenCards" class="button save-button" (click)="save()" [disabled]="saving">salvar</button>

    <button *ngIf="!isNewCard && !movingDirectionsBetweenCards" class="button delete-card-button" (click)="deleteCard()" [disabled]="!canDeleteCard">borrar tarjeta</button>

    <button *ngIf="!movingDirectionsBetweenCards" class="button new-button" aria-label="añadir dirección" (click)="addNewDirecction()">➕</button>
    
    <button *ngIf="!movingDirectionsBetweenCards && directionsControls.controls.length > 0" class="button minimal" (click)="movingDirectionsBetweenCards = true">mover para otra tarjeta</button>
    
    <app-cards-selector 
        [originCard]="card?.cardId"
        [(showControls)]="movingDirectionsBetweenCards" 
        (changeCards)="cardSelectorChange($event)"></app-cards-selector>
    
    <button *ngIf="movingDirectionsBetweenCards" 
        [disabled]="!movingDirectionsBetweenCardsIsValid"
        class="button" (click)="executeMoveDirectionsBetweenCards()">mover</button>

    <table class="show-border">
        <tr>
            <th *ngIf="!movingDirectionsBetweenCards">#</th>
            <th *ngIf="movingDirectionsBetweenCards">[x]</th>
            <th>Calle</th>
            <th>Numero</th>
            <th>complemento</th>
            <th></th>
        </tr>
        <tbody>
            @for (item of directionsControls.controls; let i = $index; track i) {
            <tr [ngClass]="{'changing-position': i == itemChangingPosition, 'dragging': i == draggingCard}"
                [formGroup]="item" (dragstart)="drag(i)" (drop)="drop(i)" (dragover)="dragover($event)"
                [draggable]="!movingDirectionsBetweenCards">
                <td *ngIf="!movingDirectionsBetweenCards">{{i+1}}</td>
                <td *ngIf="movingDirectionsBetweenCards">
                    <input type="checkbox" formControlName="selected">
                </td>
                <td><input type="text" formControlName="streetName"></td>
                <td editable><input type="text" formControlName="houseNumber"></td>
                <td editable><input type="text" formControlName="complementaryInfo"></td>
                <td class="actions">
                    <a class="remove" 
                        *ngIf="!movingDirectionsBetweenCards"
                        (click)="removeDirection(i)" title="borrar" aria-label="borrar">X</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>