@import './../../design-system.scss';

.edit-hint{
    font-size: 12px;
}

table{
    @include ds-table;
    font-size: 0.7rem;

    tr{
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        &.dragging {
            background-color: rgb(198, 198, 198);
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
    }

    td, th{
        padding: 0.75rem;
        text-align: left;
    }
    
    td[editable]{
        background-color: #fefefe;
        cursor: text;
    }
    th:nth-child(3){
        width: 55px;
    }
    th:nth-child(2){
        width: 300px;
    }
    input{
        border: none;
        padding: 0;
        margin: 0;
    }
    .actions{
        .remove{
            padding: 8px;
            background: grey;
            display: block;
            width: 10px;
            height: 10px;
            line-height: 12px;
            border-radius: 4px;
            color: #ccc;
        }
        *{
            padding-left: 10px;
        }
    }
}
.new-button{
    width: auto;
    padding: 0 20px;
    float: right;
}


.save-button{
    width: 100px;
}

.delete-card-button{
    width: auto;
    margin: 0 10px;
}

.changing-position{
    background-color: #ccc;
    input{
        background-color: #ccc;
    }
}