<h1>📋 Editar Território</h1>
<form [formGroup]="territoryCardForm">
    <p>
        Localidad: <input class="inline" type="text" formControlName="neighborhood"/>
        Tarjeta Nº {{card.cardId}}<br>
        Total de Direcciones: {{card.directions.length}}
    </p>

    <p class="edit-hint">Você pode clicar e segurar para mudar a ordem</p>

    <app-close-button (click)="cancel()" />
    <button class="save-button" (click)="save()" [disabled]="saving">salvar</button>

    <button class="new-button" (click)="addNewDirecction()">➕ adicionar novo</button>
    <table class="show-border">
        <tr>
            <th>#</th>
            <th>Rua</th>    
            <th>Numero</th>
            <th>complemento</th>
            <th></th>    
        </tr>
        <tbody>
            @for (item of directionsControls.controls; let i = $index; track i) {
                <tr [ngClass]="{'changing-position': i == itemChangingPosition, 'dragging': i == draggingCard}" 
                    [formGroup]="item" 
                    (dragstart)="drag(i)"
                    (drop)="drop(i)"
                    (dragover)="dragover($event)"
                    draggable="true">
                    <td>{{i+1}}</td>
                    <td ediateble><input type="text" formControlName="streetName"></td>
                    <td ediateble><input type="text" formControlName="houseNumber"></td>
                    <td ediateble><input type="text" formControlName="complementaryInfo"></td>
                    <td class="actions">
                        <a class="remove" (click)="removeDirection(i)" title="remover" aria-label="remover">X</a>              
                    </td>
                </tr>
            }
        </tbody>
    </table>
  </form>