.toast{
    position: fixed;
    padding: 10px;
    text-align: center;
    width: 200px;
    left: calc(50vw - 100px);
    background: #ccc;
    border-radius: 10px;
    border: 2px solid #aaaaaa;
    z-index: 2000;
    font-size: 1rem;
    &.error{
        background-color: #fd9494;
        border-color: red;
    }
    &.success{
        background-color: #65ff54;
        border-color: green;
    }
    &.warning{
        background-color: #f9ff54;
        border-color: yellow;
    }
}