<h1>Gestão de usuários</h1>

<app-user-add-modal></app-user-add-modal>
<app-user-edit-modal [user]="editUser" (saved)="onModalSaved()" (closed)="onModalClosed()"></app-user-edit-modal>

<section class="user-management-grid">
  <div class="panel">
    <h2>Permissões</h2>

    <table class="table table-users">
      <thead>
        <tr>
          <th>Usuário</th>
          <th>E-mail</th>
          <th colspan="2">Perfis</th>
          <th style="width: 140px;">Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users$ | async">
          <td>{{ user.userName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ getRoleDisplay(user.roles) }}</td>
          <td></td>
          <td>
            <button
              type="button"
              class="button"
              (click)="openEditModal(user)">
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
