:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 2000;
  background: #fff;  
}

.menu-button {
  box-shadow: none;
  background-color: transparent;
  background-image: url('/assets/menu_icon.png');
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  position:absolute;
  border: none;
}

nav{
    display:block;
    ul{
        max-width: 500px;
        height: 100vh;
        background: #ccc;
        li.selected{
          background-color: #aaa8a8;
        }
        li a {
            padding: 10px;
            display: block;
            color: black;
            &:hover{
                background-color: #bbb;
            }
        }
    }
}



@media print{
  :host{
    display: none;
  }
}