@import './../../design-system.scss';

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 2000;
  background: #fff;  
  transition: 1s;
}

.menu-button {
  box-shadow: none;
  background-color: transparent;
  background-image: url('/assets/menu_icon.png');
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  position:absolute;
  border: none;
  display: none;
  &.show{
    display: block;
  }
}

nav{
    display:block;
    background-color: white;
    position: fixed;
    top: 0;
    left: -300px;
    transition: 1s;
    &.show {
      left: 0;
    }
    ul{
        margin-top: 58px;
        max-width: 500px;
        height: 100vh;
        border-top: $table-cell-border;
        li.selected{
          background-color: #aaa8a8;
        }
        li > * {
            padding: 10px;
            display: block;
            color: black;
            width: 100%;
            background: none;
            border: none;
            font-size: 1rem;
            text-align: left;
            &:hover{
                background-color: #bbb;
            }
        }
    }
}

.modal-overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
  &.hide{
    transition: display 0.5s;
    display: none;
  }
}

@media print{
  :host{
    display: none;
  }
}