<ng-container *ngIf="isLogged$ | async">
  <button [ngClass]="{show: !showMenu}" class="menu-button" (click)="showMenu = !showMenu">
  </button>
  <nav [ngClass]="{show: showMenu}">
    <app-close-button (click)="showMenu = false" />

    <ul (click)="showMenu = false">
      @for (item of menuItens; track item.label) {
      <li [ngClass]="{selected: isSelected(item)}">
        <a [routerLink]="[item.route]">{{ item.label }}</a>
      </li>
      }
      <li><button (click)="logout()">Logout</button></li>
    </ul>
  </nav>

  <div class="modal-overlay" [ngClass]="{hide: !showMenu}" (click)="showMenu = false" (mouseenter)="showMenu = false">
  </div>
</ng-container>