@import './../../design-system.scss';



app-map{
  width: 15cm;
  max-width: 100%;
  height: 8cm;
}

.print-page{
  width: $card-width;
  height: $card-height;
  box-sizing: content-box;
  border: 1px dashed grey;
  padding: 0.5cm;
  
  &:last-child{
    margin-bottom: 20px;
  }

  h1{
    font-size: 1.05em;
    margin: 0;
    text-align: center;
  }
  p{
    margin: 0;
    margin-bottom: 0.25cm;
  }
  app-map{
    width: 100%;
    height: 8cm;
  }
  .selec-icon{
    display: none;
  }
}

#share-area{
  
  &.print{
    width: calc($card-width + 40px);
    height: $share-area-h;
    padding: 20px;
    background-color: #fff;
    box-shadow: $box-shadow;
  }
}

.option-button{
  box-shadow: none;
  background-color: transparent;
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  padding: 10px;
  border: none;
}

.share-options{
  position: fixed;
  padding: 10px;
  background-color: #e7e7e7;
  right: 15px;
  top: 70px;
  width: 158px;
  border-radius: 10px;
}

.selec-icon{
  background-image: url(/assets/select_icon.png);
  background-color: transparent;
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 40px;
  height: 32px;
  position: relative;
  margin-bottom: -5px;
  margin-top: -5px;
  margin-left: 7px;
}

.card-data{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1230px;
}



app-map{
  display: block;
}


@media screen and (max-width: 700px){
  button{
    position: static;
  }
  .print-as-card--label{
    display: none;
  }
}

@media screen and (min-width: 1170px) {
  app-map{
    display: block; 
  }

  #share-area{
    &:not(.print){
      app-map{
        transform: scale(1.3);
        margin-left: 77px;
        margin-top: 60px;
      }
    }
  }
}

@media print {
  button, .print-as-card--label, .selec-icon{
    display: none;
  }

  app-map{
    display: block;
  }
}

@media print and (max-width: 900px){
  app-map{
    width: 100%;
  }
}