<h1 [ngClass]="{'h1-print-as-card':printAsCard}">Território</h1>

<div class="front-page" *ngIf="printAsCard"></div>
<div class="back-page" *ngIf="printAsCard"></div>
<p style="text-align: right;" class="print-controls"></p>
<ul [ngClass]="{show: showCardList}" *ngIf="cards$ | async as cards" class="cards-list">
  <li *ngFor="let item of cards" role="button" (click)="selectCard(item)">
  {{item}}
  </li>
</ul>

<div class="buttons">
  <button *ngIf="!printAsCard" (click)="showCardList = !showCardList">selecionar</button>
  <button *ngIf="directionToUpdate" (click)="updateUsingAddress()">atualizar usando endereço</button>
  <button *ngIf="cardId" (click)="edit()">editar</button>
  <label *ngIf="cardId" class="printAsCardLabel"><input type="checkbox"  (change)="printAsCard = !printAsCard"> imprimir como cartão</label>
</div>

<section [ngClass]="{'print-as-card':printAsCard}">
  <p class="card-data"><span>Localidade: {{neighborhood}} </span> <span>Cartão n° {{cardId}}</span> </p>
  <app-map [markers]="markers" (click)="updateCoordinates($event)" />  
  <table class="direction-list show-border" *ngIf="territoryCard$ | async as card">
    <tr *ngFor="let direction of card.directions; let i = index;" 
    [ngClass]="{selected: directionToUpdate == direction}"
    (click)="selectDirection(direction)">
      <td [ngStyle]="{'background-color': getMarkColor(i)}">
        {{i+1}}
      </td>
      <td>
        {{direction.streetName}}, {{direction.houseNumber}} {{direction.complementaryInfo ? ', '+direction.complementaryInfo: ''}}
        <span *ngIf="direction.lat" class="on-map"></span>
      </td>
    </tr>
  </table>
</section>
