
ul.cards-list {
  float: left;
  position: fixed;
  top: 100px;
  left: -140px;
  height: 100vh;
  overflow-y:auto;
  background-color: white;
  z-index: 2000;
  transition: 1s;
  &.show{
      left: 0;
  }
  li{
      width: 100px;
      padding: 10px;
      text-align: center;
  }
}

.direction-list {
  li {
    padding: 10px;
    border-bottom: 1px solid #cdcdcda1;

    &.selected {
      color: red;
      background-color: #cacaca;
    }

    .on-map {
      background-color: blue;
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .direction-list{
    float: right;
    position: fixed;
    top: 233px;
    right: 17px;
    max-height: calc(100vh - 250px);
    overflow: auto;
    width: 35vw;
  }
  app-map{
    width: 60vw;
    display: block;
  }
}

@media print {
  h1, button{
    display: none;
  }
  .direction-list{
    float: right;
    position: absolute;
    top: 50px;
    right: 17px;
    width: 35vw;
    li{
      font-size: 10pt;
      padding:1.5px;
      .on-map{
        display: none;
      }
    }
  }
  app-map{
    width: 60vw;
    display: block;
  }
}

@media print and (max-width: 900px){
  .direction-list{
    float: none;
    position: initial;
  }
  app-map{
    width: 100%;
  }
}