
<app-header>
  <button class="option-button"  *ngIf="cardId$" (click)="printAsCard = !printAsCard">
    <fa-icon [icon]="faPrintIcon" *ngIf="!printAsCard"></fa-icon>
    <fa-icon [icon]="faPrintSlashIcon" *ngIf="printAsCard"></fa-icon>
  </button>
  <button *ngIf="directionToUpdate" (click)="updateUsingAddress()">buscar</button>
  <button class="option-button" *ngIf="!disableEdit && cardId$" (click)="edit()">
    <fa-icon [icon]="faEditIcon"></fa-icon>
  </button>
  <button *ngIf="cardId$" class="option-button" (click)="showShareOptions = !showShareOptions">
    <fa-icon [icon]="faShareIcon"></fa-icon>
  </button>
  <button class="option-button" (click)="createNewCard()">
    <fa-icon [icon]="faNewCard"></fa-icon>
  </button>
  <button class="option-button" (click)="addAssignmentRecord()">
    <fa-icon [icon]="faAssignmentRecord"></fa-icon>
  </button>
  <ul *ngIf="showShareOptions">
    <li role="button" (click)="share()">gerar link</li>
    <li role="button" (click)="generateImage()">gerar imagem</li>
    <li role="button" (click)="generatePdf()">gerar pdf</li>
  </ul>
</app-header>

<app-cards-list-modal [cardId$]="cardId$" [cards$]="cards$" [showCardList]="showCardList" (select)="selectCard($event)"/>

<div id="share-area" [ngClass]="{print: printAsCard}">
  <div [ngClass]="{'print-page': printAsCard}">
    <h1>Mapa de Território</h1>
    <p class="card-data">
      <span>Localidad: {{neighborhood$ | async}} </span>
      <span [attr.role]="disableEdit ? 'text': 'button'" (click)="showCardListClick()">Tarjeta n° {{cardId$ | async}} <i
          class="selec-icon" *ngIf="!disableEdit"></i></span>
    </p>
    <app-map 
      [markers]="(territoryCard$ | async)?.markers || []" 
      [scale]="0.7"
      [staticImage]="printAsCard"
      (click)="updateCoordinates($event)" />

    </div>  
    <app-directions-table 
      [ngClass]="{'print-page': printAsCard}"
      [printAsCard]="printAsCard"
      [territoryCard$]="territoryCard$"
      [directionToUpdate]="directionToUpdate"
      (selected)="selectDirection($event)" />
</div>