<h1 [ngClass]="{'h1-print-as-card':printAsCard}">Território</h1>

<div class="front-page" *ngIf="printAsCard"></div>
<div class="back-page" *ngIf="printAsCard"></div>
<ul [ngClass]="{show: showCardList}" *ngIf="cards$ | async as cards" class="cards-list">
  <li *ngFor="let item of cards" role="button" (click)="selectCard(item)">
  {{item}}
  </li>
</ul>

<div class="buttons">
  <label *ngIf="cardId$" class="print-as-card--label">
    <input type="checkbox"  (change)="printAsCard = !printAsCard"> 
    ver como impressão
  </label>
  <button *ngIf="directionToUpdate" (click)="updateUsingAddress()">atualizar usando endereço</button>
  <button *ngIf="!disableEdit && cardId$" class="edit-button" (click)="edit()"></button>
  <button *ngIf="cardId$" class="share-button" (click)="share()"></button>
</div>

<section [ngClass]="{'print-as-card':printAsCard}">
  <p class="card-data" *ngIf="cardId$ | async as cardId">
    <span>Localidade: {{neighborhood$ | async}} </span> 
    <span [attr.role]="disableEdit ? 'text': 'button'" (click)="showCardListClick()">Cartão n° {{cardId}} <i class="selec-icon" *ngIf="!disableEdit"></i></span> 
  </p>
  <app-map [markers]="(territoryCard$ | async)?.markers || []" (click)="updateCoordinates($event)" />
  <table class="direction-list show-border" *ngIf="territoryCard$ | async as card">
    <tr *ngFor="let direction of card.directions; let i = index;" 
    [ngClass]="{selected: directionToUpdate == direction}"
    (click)="selectDirection(direction)">
      <td [ngStyle]="{'background-color': direction.color}">
        {{i+1}}
      </td>
      <td>
        {{direction.streetName}}, {{direction.houseNumber}}{{direction.complementaryInfo ? ', '+direction.complementaryInfo: ''}}
      </td>
    </tr>
  </table>
</section>
